### Creating Sets

#### 1
Create an empty list and confirm its type and the number of items in it

#### 2
Make a set from the string 'Mississippi'. How many unique character are there?

### Set Comprehension

#### 3
Create a set of all the even number between 0 and 20 using set comprehension.

#### 4
Use comprehension to build a set of the first letters of the words: ['apple', 'banana', 'avacado', 'cherry']

#### 5
Build a set of vowels from the word 'encyclopedia'

#### 6
A set of all multiples of 3 less below 30

#### 7
Build a set of all squares less than 100

### Common Operations
Given the two sets

#### 8
Find the union of a and b

#### 9
Find the intersection of a and b

#### 10
Find which elements are in a but not in b

### Set Methods
Start with the set

#### 11
1.  StartAdd the number 9
1.  Remove the number 3
1.  Update the set with [9, 11]

### Challenge

#### 12
Write a program to remove the duplicates for a list using a set.

nums = [4, 5, 6, 4, 5, 7, 8, 9, 7, 6]

#### 13
Create two sets of letters from the words "python" and "typhoon".

1.  Find letters they have in common.
1.  Find letters unique to "python".
1.  Find letters unique to "typhoon".
1.  Find all unique letters from both words.

#### 14
Use set comprehension to create all pairs (x, y) where x is even and y is odd, for x in 0-4 and y in 0-4.

#### 15
Given a paragraph of text (a string), find all the unique words it contains (ignore case).
Hint: split the string, lowercase the words, and make a set.

#### 16
Given a list of email addresses with inconsistent casing and whitespace, normalize them and remove duplicates using sets.